@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.page__main {
  padding-bottom: 45px;
}

.catalog__categories {
  padding-bottom: 0;
  padding-top: 25px;
}

.catalog__categories-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.catalog__seo {
  padding-top: 12px;
  color: $color-muted;
}

.section--compact {
  padding-top: 40px;
  padding-bottom: 0;
}

@media (max-width: 1279px) {
  .catalog__categories-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1023px) {
  .catalog__categories-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .catalog__categories-grid {
    grid-template-columns: 1fr;
  }
}
