@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.page--promotions {
  padding-bottom: 24px;
}

.promotions-page__breadcrumbs {
  margin-top: 12px;
  margin-bottom: 28px;
}

.promotions-page__title {
  margin-bottom: 32px;
}

.promotions-page__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  margin-bottom: 7px;
}

.promotions-page__pagination {
  margin-bottom: 72px;
}

.promotions-page__pagination .pagination {
  justify-content: center;
}

@media (max-width: 1439px) {
  .promotions-page__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1023px) {
  .promotions-page__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include mq-down($breakpoint-tablet) {
  .promotions-page__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }

  .promotions-page__title {
    margin-bottom: 20px;
  }

    .promotions-card__date {
    font-size: 14px !important;
  }

  .promotions-card {
    margin-bottom: 0 !important;
  }
}
