@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 0 20px;
}

.container--narrow {
  max-width: $container-lg;
}
