<section class="subscribe">
  <div class="container container--narrow">
    <div class="subscribe__box">
      <div>
        <h2 class="subscribe__title">Подпишитесь на новости и акции</h2>
        <p class="subscribe__text">Получайте обновления по каталогу, акциям и новым поступлениям.</p>
      </div>
      <form class="subscribe__form" action="#" method="post">
        <div class="subscribe__fields">
          <input class="subscribe__input" type="email" placeholder="Ваш e-mail" />
          <button class="button button--primary" type="submit">Подписаться</button>
        </div>
      </form>
    </div>
  </div>
</section>
